#grass {
    position: absolute;
    bottom: 0;
}

#plants {
    position: absolute;
    bottom: 0;
}

#filler-1 {
    position: absolute;
    bottom: 0;
}

#filler-2 {
    position: absolute;
    bottom: 0;
}

#plants {
    position: absolute;
    bottom: 0;
    color: green;
}

td {
    /* height: 50px; */
    vertical-align: bottom;
}

html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}